#afg-set-list {
	position: relative;
	width: 100%;
	padding: 0;
	margin: 0;
}

#afg-photo-set img {
	margin: 0;
	padding: 0;
	cursor: pointer;
}
#afg-set-list .afg-set img {
	width: 100%;
	box-shadow: none;
	border-radius: 0;
	position: absolute;
	top: 0;
	left: 0;
	transition: all 0.3s ease-in-out;
}
#afg-set-list .afg-set img:hover {
	opacity: 0;
}
#afg-photo-set .afg-line span {
	line-height: 0;
}
#afg-photo-set .afg-line {
	margin-bottom: 5px;
}
#afg-set-list .afg-set span {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	height: 200px;
	width: 320px;
	line-height: 0;
}

#afg-set-list .afg-set {
	position: relative;
	float: left;
	width: 320px;
	height: 200px;
	overflow: hidden;
	background-color: #000;
	box-shadow: 1px 1px 5px #CCC;
	margin: 8px;
}

#afg-set-list .afg-info h4 {
	font-size: 16px;
	font-size: 1.14285714286rem;
	height: 30px;
	width: 100%;
	overflow: hidden;
	margin: 0;

}

#afg-set-list .afg-info .afg-meta {
	font-size: 14px;
	font-size: 1rem;
	height: 22px;
	width: 100%;
	overflow: hidden;
	border-bottom: 1px solid #fff;
}
#afg-set-list .afg-info .afg-desc {
	height: 70px;
	border-top: 1px solid #555;
}

#afg-set-list .afg-info {
	padding: 0 5%;
	position: absolute;
	top: 148px;
	color: #eee;
	text-shadow: 0 0 3px #000;
	height: 124px;
	width: 90%;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
	transition: all 0.3s ease-in-out;
}

#afg-set-list .afg-info:hover {
	top: 76px;
}

#afg-photo-detail {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	z-index: 999;
	display: none;
}
#afg-photo-big {
	position: relative;
	width: 80%;
	height: 100%;
	float: left;
}
#afg-photo-info {
	position: relative;
	width: 20%;
	height: 100%;
	float: left;
	background-color: rgba(0, 0, 0, 0.5);
	padding-top: 30px;
}
#afg-photo-container-wrapper {
	position: relative;
	left: -100%;
	width: 400%;
	height: 100%;
}

.afg-photo-container {
	position: relative;
	display: table;
	float: left;
	height: 100%;
	width: 25%;
}
.afg-photo-class {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	height: 100%;
	width: 100%;
	line-height: 0;
}
#afg-photo-container img{
	max-height: 100%;
	max-width: 100%;
}
#afg-photo-detail-close {
	float: right;
	width: 30px;
	margin: 10px;
}
#afg-photo-detail .afg-photo-loading {
	display: none;
	position: absolute;
	left: 48%;
	top: 48%;
	width: 40px;
	height: 40px;
}
#afg-photo-next {
	position: absolute;
	display: none;
	left: 50%;
	top: 0;
	width: 50%;
	height: 100%;
}
#afg-photo-prev {
	position: absolute;
	display: none;
	left: 0;
	top: 0;
	width: 50%;
	height: 100%;
}
